[user]
    email = jose.carlos.padial@gmail.com
    name = jcpadial
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
	ff = false
[core]
    editor = vim
[difftool]
    prompt = false;
[push]
    default = current
[alias]
    adda = add --all
    b = branch
    ba = branch -a
    br = branch -r
    ca = commit -a
    cm = commit
    co = checkout
    dt = difftool
    files = diff --name-status
    s = status
    tree = log --graph --decorate --oneline --all
[color]
	ui = auto
