[user]
    email = jose.carlos.padial@gmail.com
    name = jcpadial
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
[core]
    editor = vim
[difftool]
    prompt = false;
[push]
    default = current
[alias]
    co = chekcout
    s = status
    dt = difftool
    adda = add --all
