[alias]
    adda = add --all
    b = branch
    ba = branch -a
    br = branch -r
    ca = commit -a
    cm = commit
    co = checkout
    dt = difftool
    files = diff --name-status
    mt = mergetool
    s = status
    tree = log --graph --decorate --oneline --all
[color]
	ui = auto
[core]
    editor = vim
[diff]
    tool = vimdiff
[difftool]
    prompt = false;
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[push]
    default = current
[user]
    email = jose.carlos.padial@gmail.com
    name = jcpadial
