
snippet linit "Initialize the logger" b
logging.basicConfig(
	format="[%(asctime)s][%(levelname)s][%(funcName)s] - %(message)s",
	level=logging.INFO,
	datefmt="%H:%M:%S",
)
LOGGER = logging.getLogger()
LOGGER.setLevel(logging.INFO)
endsnippet

snippet env "Environ Variable" b
${1:NAME} = environ['${2:$1}']
endsnippet
