priority 0

snippet snip "Snippet definition" b
`!p snip.rv = "snippet"` ${1:Tab_trigger} "${2:Description}" ${3:b}
$0
`!p snip.rv = "endsnippet"`
endsnippet

snippet v "Visual" w
{VISUAL}
endsnippet

snippet $ "Tabstop" i
${${1:1}:${0:text}}
endsnippet


